* {
	font-family:'Oswald', sans-serif;
}

body{
	height: 200vh;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

content{
	height: 200vh;
}

ul {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	gap: 16px;
}

a{
	color: whitesmoke;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 24px;
	color: #E5E7EB;
}

.hero {
	background-color: #1F2937;
	display: flex;
	justify-content: center;
	padding: 100px, 150px;
	gap: 35px;

}

.left-hero{
	width: 150px;
	color: wheat;
	column-gap: 12px;
}

.left-hero img{
	width: 150px;
	height: 160px;
}

.right-hero{
	width: 600px;
	font-size: 48px;
	color: #F9FAF8;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.right-hero p{
	font-size: 18px;
	color: #E5E7EB;
	margin-top: 2px;
}

.carousel-item{
/*	width: 100px;
	height: 100px;*/
	display: flex;
	justify-content: center;
}

footer {
	color: #E5E7EB;
	justify-content: center;
	align-items: flex-end;
}

header, footer{
	background-color: #1F2937;
	display: flex;
}

